.timer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    gap: 10px;
    padding: 20px 30px;
    width: 200px;
    border-radius: 10px;
    color: #0c0a40;
}

h1 {
    font-size: 32px;
    color: #0008;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 50px;
    background: #efe0ef;
    border-radius: 20px;
    box-shadow: 0 0 6px #cbb1cb;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: 20px;
    font-family: monospace;
    background: #efe0ef;
}

* {
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #100e47;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
    background: #efe0ef;
    box-shadow: 0 0 2px 1px #0000003b;
}

.timerUI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button:hover {
    box-shadow: 1px 1px 10px #0003;
}